.commerce{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blank{
    width: 200.81px;
}

.bourse-btn{
    width: fit-content;
    padding: 10px 20px;
    flex-shrink: 0;
    margin-right: 20px;
    align-self: center;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.loading-image{ 
    width: 1000px; 
    height: 1000px; 
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0) scale(1) translateX(0);
    }
    25% {
        transform: translateY(-30px) scale(1.05) translateX(-50px);
    }
    50% {
        transform: translateY(0) scale(1) translateX(0);
    }
    75% {
        transform: translateY(-15px) scale(1.02) translateX(50px);
    }
}

.product-image{ 
    width: 100%; height: 30%; border-radius: 8px; margin-top: 10px;
 }

.product-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.like-btn
{
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: fit-content;
    padding: 10px 20px;
    flex-shrink: 0;
    padding: 0px;
    align-self: center;
}

.blank-card{
    width: 20px;
    height: 100%;
}

.card-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
