.home {
    /*border-radius: 50dvh;
    border: 1px solid #ccc;*/
    margin: 10%;
    padding: 10%;
    flex: 100%;
}

.legend {
    border-radius: 50dvh;
    border: 1px solid #ccc;
    margin: 10%;
    padding: 10%;
    flex: 100%;
}

.fieldset {
    border: 2px solid white;
    padding: 0.3rem 1rem;
    border-radius: 6px;
}

.figma-rectangle {
    width: auto;
    height: auto;
    border-radius: 15px;
    border: 5px solid transparent;

    background:
        conic-gradient(
                from 90deg,
                rgba(224, 189, 163, 1) 0deg,
                rgba(233, 227, 213, 1) 54deg,
                rgba(224, 189, 163, 1) 108deg,
                rgba(233, 227, 213, 1) 162deg,
                rgba(224, 189, 163, 1) 216deg,
                rgba(233, 227, 213, 1) 270deg,
                rgba(224, 189, 163, 1) 360deg
            )
            padding-box,
        linear-gradient(
                to right,
                #6e422f,
                #865841 21.6346%,
                #8b5c47 44.2308%,
                #dc987b 67.3077%,
                #9c5a3a 83.6538%,
                #a35d3c
            )
            border-box;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.figma-border {
    border-radius: 15px;
    border: 5px solid transparent;

    background:
        none,
        linear-gradient(transparent, transparent) padding-box,
        linear-gradient(
                to right,
                #6e422f,
                #865841 21.6346%,
                #8b5c47 44.2308%,
                #dc987b 67.3077%,
                #9c5a3a 83.6538%,
                #a35d3c
            )
            border-box;

    background-clip: padding-box, border-box;
}
